# === OS-specific ===
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
Icon?
._*

# === Python ===
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# pyenv
.python-version

# pytest
.cache/

# mypy
.mypy_cache/

# coverage
.coverage
coverage.xml
htmlcov/

# PyInstaller
dist/
build/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# === Editors & IDEs ===
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# === Logs and misc ===
*.log
*.tmp
*.bak

# === LaTeX ===
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.dvi
*.xdv
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.nav
*.snm
*.vrb

# LaTeX intermediate images
*.eps
*.ps